@import "utils.less";

@HEADER_TYPE: Orbitron, sans-serif;
@COPY_TYPE: "Droid Sans", sans-serif;

@GUTTER: 20px;

@STATIC: "static/images";

html, body {
	font-family: @COPY_TYPE;
	font-style: normal;
	-webkit-font-smoothing: subpixel-antialiased;
}

h1, h2{
	text-transform: uppercase;
	font-family: @HEADER_TYPE;
	font-weight: 900;
	line-height: 20px;
}
h1 {
	font-size: 20px;
	line-height: 30px;
	margin: 0px;
}
h2 {
	font-size: 14px;
}
h3 {
	font-size: 20px;
	line-height: 24px;
}

* {
	margin: 0px;
	padding: 0px;
	.box-sizing(border-box);
}

#overlord {
	padding-left: @GUTTER;
	padding-right: @GUTTER;
}

header {
	background-color: #001;
	color: white;
	text-align: center;
	margin-bottom: @GUTTER;
}

.frontpage {
	h3 {
		text-align: center;
	}
	.hero-unit {
		margin-top: @GUTTER;
		margin-left: auto;
		margin-right: auto;
		padding: @GUTTER;
		max-width: 500px;
	}
	.login {
		text-align: center;
	}
}

.flyout {
	font-size: 10px;
	float: right;
}

.account .panel {
	float: left;
	margin-right: @GUTTER;
	margin-bottom: @GUTTER;
}

#control_panel {
	width: 200px;
	padding: 10px;
	background-color: #eee;
	border: 1px solid #ccc;
	p {
		margin: 0px;
	}
}

#grid_screen {
	@GRID_WIDTH: 25px;
	@GRID_HEIGHT: 25px;
	@GRID_COLS: 11;
	@GRID_ROWS: 11;
	float: left;
	position: relative;
	width: @GRID_WIDTH * @GRID_COLS;
	height: @GRID_HEIGHT * @GRID_ROWS;
	.grid-break {
		float: left;
		clear: left;
	}
	.grid {
		float: left;
		height: @GRID_WIDTH;
		width: @GRID_WIDTH;
		line-height: @GRID_HEIGHT;
		text-align: center;
		font-weight: bold;
	}
	.grid-resource {
		background-color: yellow;
	}
	.grid-ground {
		background-color: green;
	}
	.grid-user {
		cursor: pointer;
		position: absolute;
		background-color: white;
		span {
			display: none;
			position: absolute;
			left: @GRID_WIDTH + 12;
			top: 0px;
			background-color: #eee;
			padding: 0px 10px;
			z-index: 9000;
			white-space: nowrap;
		}
		span:before {
			content: "";
			position: absolute;
			left: -@GRID_WIDTH + 1;
			top: 0px;
			border-width: 12px;
			border-style: solid;
			border-top-color: transparent;
			border-left-color: transparent;
			border-bottom-color: transparent;
			border-right-color: #eee;
		}
	}
	.grid-user:hover {
		span {
			display: block;
		}
	}
}

#grid_history {
	width: 200px;
	padding: @GUTTER;
	border: 1px dotted #ccc;
	position: relative;
	ul {
		list-style-type: none;
		margin-left: 0px;
		hr {
			margin: 0px;
		}
		li {
			span {
				float: right;
			}
		}
		li.success {
			color: black;
		}
		li.fail {
			color: red;
		}
	}
}

#grid_scores {
	ul {
		list-style-type: none;
		margin-left: 0px;
		li {
			span {
				float: right;
			}
		}
	}
}

.gist_list {
	@BORDER_COLOR: #ddd;
	list-style-type: none;
	border-top: 1px solid @BORDER_COLOR;
	border-left: 1px solid @BORDER_COLOR;
	border-right: 1px solid @BORDER_COLOR;
	margin-left: 0px;

	.gist_item {
		padding: 10px 100px 10px 10px;
		position: relative;
		border-bottom: 1px solid @BORDER_COLOR;
	}
	.gist_itema {
	}
	.gist_itemb {
		background-color: #f2f2f2;
	}
	.gist_actions {
		position: absolute;
		top: 10px;
		right: 10px;
		margin-left: 0px;
		list-style-type: none;
		li {
			float: left;
			margin-left: 10px;
		}
	}
}

#grid_panic {
	display: none;
	position: relative;
	border: 1px solid #ccc;
	background-color: #fee;
	padding: @GUTTER;
	h1 {
		margin: 0px;
	}
	.hide_panic {
		cursor: pointer;
		position: absolute;
		top: @GUTTER;
		right: @GUTTER;
	}
}

#grid_getstarted {
	border: 1px solid #ccc;
	background-color: #fee;
	padding: @GUTTER;
	font-size: 20px;
	max-width: 400px;
	ol {
		li {
			line-height: 30px;
		}
	}
}

#grid_gistselect {
	max-width: 400px;
}

#grid_alert {
	max-width: 400px;
}

hr{
	clear: both;
	margin-top: @GUTTER;
}

.debug_panel {
	width: 275px;
	float: left;
	margin-right: @GUTTER;
	margin-bottom: @GUTTER;
	.parsed_code {
		float: right;
	}
	.source_line {
		width: 100%;
	}

	.source_highlighted {
		background-color: #ffffff;
	}

	.source_clicked {
		background-color: #bbbbbb;

		.line_num {
			color: #777;
		}
	}

	.line_num {
		color: #aaa;
		margin-right: 10px;
	}

	.current_line {
		color: #0088cc;
	}
}

